/* ===== Portal de Talentos Escolares - Estilos generales ===== */

/* Clase para títulos (Letra muy gruesa) */
.google-sans-flex-titulo {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /* <-- Reemplazamos <weight> por 800 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

/* Clase para párrafos (Letra estándar) */
.google-sans-flex-normal {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* <-- Reemplazamos <weight> por 400 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  /* El weight lo puedes definir por separado para cada uno si quieres */
}
p {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  /* El weight lo puedes definir por separado para cada uno si quieres */
}

body {
    background-color: #fff8f0;
    color: #3d1f00;
    margin: 0;
    padding: 0;
    font-family: "Google Sans Flex", sans-serif;
}

/* ===== Header ===== */
header {
    background-color: #af5c21;
    padding: 12px 20px;
    text-align: center;
}

header img {
    width: 10%;
}

/* ===== Navegacion ===== */

.nav-link{
    color: #ffff;
    font-size: 30px;
}
nav {
    background-color: #bf4300;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #c4ffb2;
}

/* ===== Titulos ===== */
h1 {
    color: #bf4300;
    text-align: center;
    margin: 25px 0 10px 0;
    font-size: 28px;
}

h2 {
    color: #e05c00;
    font-size: 20px;
    margin-top: 10px;
}

/* ===== Links generales ===== */
a {
    color: #bf4300;
}

a:hover {
    color: #e05c00;
}

/* ===== Parrafo bienvenida ===== */
p {
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
}

/* ==== Lista integrantes =====*/
.col-md-4 ul li{
    list-style: none;
    font-size: 20px;
}

/* ===== Footer =====*/

footer {
    width: 100% !important;
    background-color: grey;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
}
footer p{
    color: #ffff;
}
footer ul li{
    list-style: none;

}
/* ====CARRUSEL====*/
#carouselExampleIndicators{
    max-width: 60%;
    margin: 0 auto;
    
}
#carouselExampleIndicators img{
    border-radius: 10px;
}